*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(rgb(206, 245, 255), rgb(45, 195, 255));
    background-attachment: fixed;
}
header h1{
    color:rgb(69, 181, 255); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
form{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    margin: 0 auto;
    border: 3px solid white;
    height: auto;
    width: 600px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
input{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}
textarea{
    padding: 25px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}
select{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}
form button{
    color: white;
    padding: 10px;
    margin: 5px;
    background-color: #00a2ff;
    border: none;
    cursor: pointer;
}
form button:hover{
    opacity: 0.8;
}
#lista{
    border-radius: 15px;
    margin: 15px auto;
    border: 3px solid white;
    height: auto;
    width: 600px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
#lista h2{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background-color: rgb(91, 208, 255);
    color: white;
    text-shadow: 2px 2px 2px rgb(65, 65, 65);
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}
ul {
    list-style: none;
}
.item-lista{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#lista-metas{
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: arial;
    padding: 10px;
}
.btn-concluir{
    background-color: rgb(121, 255, 150);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: 0.4s;
}
.btn-remover{
    background-color: rgb(255, 119, 119);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: 0.4s;
}
.btn-concluir:hover{
    background-color: green;
    opacity: 0.5;
    color: white;
}
.btn-remover:hover{
    background-color: red;
    opacity: 0.5;
    color: white;
}

@media screen and (max-width: 768px){
    header h1{
        font-size: 35px;
        display: flex;
        justify-content: space-between;
    }
    form{
        width: 70%;
    }
    #lista{
        width: 70%;
    }
}