*{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(0, 0, 0) !important;
}
.container{
    display: flex;
}
.card{
    height: 300px !important; 
    width: 200px !important;
    margin: 5px !important;
    background-color: white !important;
    border-radius: 15px !important;
    border: 2px solid black !important;
}
.carousel-control-next-icon{
    background-image: url(./next.png) ;
}
.carousel-control-prev-icon{
    background-image: url(./back.png);
}
.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-card{
    width: 90%;
}
.card .produto h3{
    font-size: 20px;
    text-align: center;
    margin: 5px;
}
.card .produto p{
    font-size: 15px;
    text-align: center;
    color: brown;
    margin: 0px;
    margin-top: 5px;
    font-weight: bold;
}
.button-card{
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    height: 30px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.4s;
    cursor: pointer;
}
.card h3 {
    height: 30px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
}
.card img{
    height: 150px;
    object-fit: contain;
    margin-top: 20px !important;
}
.card div{
    height: 100%;
    justify-content: center;
}
.button-card:hover{
    opacity: 0.7;
}
#myCarousel, #myCarousel1{
    width: 100%;
}
#myCarousel .row, #myCarousel1 .row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}