*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(../img/images.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.671);
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.container{
    margin: 20px;
    margin-top: 100px;
    background-color: #54550078;
    padding: 60px;
    width: 250px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.container select{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
}
button{
    padding: 15px;
    border-radius: 10px;
    background-color: #e6ff00;
    border: none;
    cursor: pointer;
    transition: 0.8s;
}
button:hover{
    opacity: 0.5;
    color: rgba(0, 0, 0, 0.452);
}
footer{
    background-color: rgba(87, 64, 0, 0.459);
    color: white;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}
#ranking{
    padding: 40px;
    border-radius: 10px;
    background-color: #54550078;
    color: white;
    border: 2px solid white;
}
#lista-ranking{
    list-style: none;
}
li{
    color: #eeffae;
    font-family: cursive;
    font-size: 20px;
    text-shadow: 3px 3px 3px black;
}
.lider{
    color: white;
    font-size: 30px;
}
@media screen and (max-width: 768px){
    body{

        background-image: url(../img/Novo\ Projeto\ \(1\).png);
    }
    h1{
        text-align: center;
        font-size: 30px;
    }
    .container{
        padding: 40px;
    }
    #ranking{
        padding: 30px;
    }
}