*{
    padding: 0;
    margin: 0;
    font-family: arial;
}
body{
    background-image: linear-gradient(45deg, #05006fed, #000000d4);
    background-attachment: fixed;
}
main{
    margin: 200px auto;
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(255 255 255 / 32%);
    border-radius: 15px;
    border: 2px solid white;
}
h1{
    color: white;
    text-align: center;
}
input{
    height: 20px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    padding: 8px;
}
select{
    height: 30px;
    margin: 5px;
    border-radius: 6px;
    border: none;
}
#calcular{
    padding: 15px;
    margin: 2px;
    border-radius: 6px;
    border: none;
    background-color: green;
    color: white;
}
#resultado {
    font-size: 20px;
    font-weight: bold;
}
.verde {
    color: green;
}
.vermelho {
    color: red;
}
.laranja {
    color: orange;
}

@media screen and (max-width: 768px){
    main{
        width: 70%;
    }
}