/* Estilos Globais */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

/* Container Principal */
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

/* Detalhes do Produto */
.product-details {
  display: flex;
  gap: 40px;
}

.product-gallery {
  flex: 1;
}

.product-gallery img {
  width: 100%;
  border-radius: 10px;
}

/* Informações do Produto */
.product-info {
  flex: 1;
}

.product-path {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}
h2{
    margin: 50px;
    font-size: 40px;
    text-align:left;
    font-family: "Rye", serif;
}

.product-info h2 {
  font-size: 2.5rem;
  margin: 10px 0;
  color: #e0e0e0;
}

.product-code {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.price {
  font-size: 2rem;
  color: #960000;
  margin: 10px 0;
}

.rating {
  color: #81c784;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.product-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #b0b0b0;
  margin-bottom: 20px;
}

#color,
#quantity {
  width: 100px;
}

/* Opções de Produto */
.product-options {
  margin: 20px 0;
}

.product-options label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: white;
}

.product-options select,
.product-options input[type="number"] {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
}

/* Botões de Ação */
.buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.add-to-cart {
  padding: 15px 30px;
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.add-to-cart:hover {
  background-color: #388e3c;
}

.add-to-wishlist {
  padding: 15px 30px;
  background-color: #1e1e1e;
  color: #b30404;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.add-to-wishlist:hover {
  background-color: #1e1e1e;
  color: #fff;
}

.delivery {
  margin-top: 20px;
  color: #777;
  font-size: 0.9rem;
}

/* Especificações do Produto */
.product-specs {
  margin-top: 40px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
}

.tabs {
  display: flex;
  gap: 30px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.tabs li {
  list-style: none;
  font-weight: bold;
  cursor: pointer;
  color: #777;
}

.tabs li:hover {
  color: #9b1402;
}

.product-specs {
  display: none;
}

.specs-content p {
  font-size: 1rem;
  color: #b0b0b0;
  margin: 10px 0;
}

a.btn-cor {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 10px;
  font-size: 0;
  border: 1px solid #fff;
}

.btn-cores {
  display: flex;
  gap: 5px;
  margin: 5px 0;
}

a.btn-cor.btn-cor-preto {
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
}

a.btn-cor.btn-cor-vermelho {
  background-color: red;
  border: 1px solid black;
}

a.btn-cor.btn-cor-branco {
  background-color: white;
  border: 1px solid black;
}

/* carrinho lateral */
.carrinho-lateral.active{
  display: block;
}
.carrinho-lateral {
  display: none;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #000000bf;
}

.carrinho-interno {
  width: 40%;
  height: 100%;
  margin-left: auto;
  background-color: #161612;
  position: relative;
  color: white;
}

.fechar {
  position: absolute;
  top: 0;
  left: -50px;
  background-color: #161612;
  color: #9b1402;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.comprar{
  background-color: #770000;
  margin-left: 10px;
  width: 190px;
  border-radius: 10px;
}

.carrinho-interno .card{
  background-color: rgb(79, 79, 79) !important;
  color: #ffffff;
  padding: 20px;
}
.carrinho-interno .card h3{
  color: #f00404;
}

@media screen and (max-width: 768px) {
  .product-details {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  .carrinho-interno{
    width: 60%;
  }
}